@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-scroll-right {
        animation: scroll-right 40s linear infinite;
    }

    .animate-scroll-left {
        animation: scroll-left 40s linear infinite;
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Pause animation on hover */
.hover\:pause:hover {
    animation-play-state: paused;
}